* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #000;
  color: white;
}

.priceChange_red {
  color: red;
}

.priceChange_green {
  color: greenyellow;
}

.search {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 22px;
}

.search input {
  margin-left: 12px;
  width: 300px;
  height: 5vh;
  padding: 4px;
  background: linear-gradient(
    -225deg,
    yellow,
    rgb(108, 206, 108),
    rgb(77, 77, 177),
    pink,
    rgb(175, 190, 46)
  );
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: large;
  letter-spacing: 1px;
}

#pagination {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

table th {
  text-overflow: ellipsis " [..]";
}

.btn button {
  padding: 5px;
  margin: 12px;
  border: none;
}

@media screen and (max-width: 450px) {
  .tables_container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    background-color: aqua;
  }

  .container {
    width: 300px;
  }
}
